:root {
  --background: #1A1E23;
  --background-contrast: #353535;
  --background-hover: #22292e;
  --background-lighter: #1B2125;
  --foreground: #ffffff;
  --foreground-contrast: #cdd1db;
  --accent: #0E4CD9;
  --accent-contrast: #585fee;
  --shined: #f9ca24;
  --dark-red: #d63031;
  --light-red: #ea8685;
}